.card-image::after {
    display: block;
    position: relative;
    background-image: linear-gradient(45deg, rgba(30, 18, 96, 0.7) 0%, rgba(213, 85, 246, 0.7) 100%);
    margin-top: -200px;
    height: 200px;
    width: 500px;
    content: '';
}

.card-image {
    height: 200px;
    width: 500px;
    overflow: hidden;
}

.card-image img {
    height: 200px;
}

.center-text {
    text-align: center;
    width: 200px;
    height: 75px;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto !important;
}