.typing-title {
    margin-bottom: 10px;
    height: 100px;
}

.hero-image {
    margin-bottom: 40px;
}

.hero-image img {
    width: 100%;
}

.description {
    margin: 40px 0;
    max-width: 500px;
}

.register-button-container {
    width: 200px;
    margin: 50px auto;
    text-align: center;
}

.register-button {
    /*background: linear-gradient(45deg, #67E7E2 0%, #3D99F5 100%);*/
    /*color: #fff !important;*/
    border-radius: 24px !important;
    width: 200px !important;
    margin: 0 auto !important;
    font-weight: 700 !important;
}