.Home {
    margin: 30px 10vw 0;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.hero-text {
    flex: 1;
    min-width: 300px;
    margin: 40px 0;
}

.typing-title {
    margin-bottom: 10px;
    height: 100px;
}

.hero-image {
    flex: 1;
    margin: 0 10vw;
    min-width: 200px;
    max-width: 350px;
}

.hero-image img {
    max-width:100%;
    max-height:100%;
}

.description {
    margin: 40px 0;
    max-width: 500px;
}

.register-button-container {
    width: 200px;
    margin: 50px auto;
}

.register-button {
    background: linear-gradient(45deg, #67E7E2 0%, #3D99F5 100%);
    border-radius: 24px !important;
    color: #fff !important;
    width: 200px !important;
    margin: 0 auto !important;
    font-weight: 700 !important;
}