.TopAppBar {
    padding-top: 25px;
    display: flex;
    flex-grow: 1;
    width: 80%;
    height: 48px;
}
.logo-long {
    fill: #1E1260;
    width: 250px;
}
.logo-square {
    fill: #1E1260;
    width: 48px;
    height: 48px;
}
.grow {
    flex-grow: 1;
}